.searchField {
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 10px;
  width: 300px;
  line-height: 30px;
  margin-bottom: 30px;
  justify-self: center;
  background-color: transparent;
  color:#fff;
  font-family: 'Bigelow Rules', cursive;
  font-size: 2em;
  letter-spacing: 0.2em;
  margin: 0 auto;
  text-align: center;

  &::placeholder{
    color:#fff;

  }
}